/* Side Panel Styles  */
.side-panel .nav li a {
    text-decoration: none;
    color: black;
}

/* Assignment 05 - 08 styles  */

/* Assign 01 Styles */
.assignment-5-8 .assign-01 div {
    width: 500px;
    margin: 20px auto;
    background-color: rgb(138, 43, 226);    
    padding: 20px;
}

.assignment-5-8 .assign-01 .assign-1-shape-2 {
    background-color: rgb(138, 43, 226, 50%);    
}

.assignment-5-8 .assign-01 .assign-1-shape-3 {
    background-color: rgb(138, 43, 226, 10%);    
}

/* Assign 02 Styles  */
.assignment-5-8 .assign-02 div {
    width: 400px;
    height: 400px;
    background-image: url(../assets/imgs/css-assignment-5-8-02.png);
    background-color: #ddd;
    margin: 20px auto;
}

.assignment-5-8 .assign-02 .assign-2-shape-1 {
    background-repeat: no-repeat;
}

.assignment-5-8 .assign-02 .assign-2-shape-2 {
    background-repeat: repeat-y;
}

.assignment-5-8 .assign-02 .assign-2-shape-3 {
    background-repeat: repeat-x;
}

/* Assign 03 Styles  */
.assignment-5-8 .assign-03 div {
    width: 400px;
    height: 400px;
    background-image: url(../assets/imgs/css-assignment-5-8-02.png);
    background-color: #ddd;
    margin: 20px auto;
}

.assignment-5-8 .assign-03 .assign-3-shape-1 {
    background-repeat: no-repeat;
}

.assignment-5-8 .assign-03 .assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
}

.assignment-5-8 .assign-03 .assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;

}

/* Assign 04 Styles  */
.assignment-5-8 .assign-04 div {
    width: 400px;
    height: 400px;
    background-image: url(../assets/imgs/css-assignment-5-8-02.png);
    background-color: #ddd;
    margin: 20px auto;
}

.assignment-5-8 .assign-04 .assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80%;
}

.assignment-5-8 .assign-04 .assign-4-shape-2 {
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right;
}

.assignment-5-8 .assign-04 .assign-4-shape-3 {
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: bottom;
}

.assignment-5-8 .assign-04 .assign-4-shape-4 {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}

/* Assignment 09 - 12 styles  */

/* Assign 01 Styles */
.assignment-9-12 .assign-01 div {
    display: inline-block;
    margin: 20px;
    background-color: #ddd;    
    padding: 20px;
}

.assignment-9-12 .assign-01 .assign-1-shape-1 {
    border: 5px solid red;
    outline: 5px solid black;
}

.assignment-9-12 .assign-01 .assign-1-shape-2 {
    border: 5px solid;
    border-color: blue green;
    outline: 5px solid black;
}

.assignment-9-12 .assign-01 .assign-1-shape-3 {
    border: 5px dotted;
    border-color: red green blue yellow;
    outline: 5px solid black;
}

/* Assign 02 Styles */
.assignment-9-12 .assign-02 .card {
    width: 400px;
    margin: 8px auto;
    padding: 16px;
    background-color: #eee;    
}

.assignment-9-12 .assign-02 .card div {
    border-left: 6px solid;
    padding: 12px;
}

.assignment-9-12 .assign-02 .card .assign-2-shape-1 {
    border-color: #E91E63;
}

.assignment-9-12 .card-hidden {
    visibility: hidden;
}

.assignment-9-12 .assign-02 .card .assign-2-shape-3 {
    border-color: #009688;
} 

/* Assignment 13 - 16 styles  */

/* Assgin 01 Styles */
.assignment-13-16 .assign-01 {
    background-color: #eee;
    width: 400px;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
}

.assignment-13-16 .assign-01 .parent div .title {
    color: red;
}

.assignment-13-16 .assign-01 .parent .title {
    color: blue;
}

.assignment-13-16 .assign-01 .parent p,
.assignment-13-16 .assign-01 .title {
    color: green;
}

/* Assgin 02 Styles */
.assignment-13-16 .assign-02{
    width: 450px;
    margin: 8px auto;
    padding: 16px;
}

.assignment-13-16 .assign-02 div{
    background-color: #A52A2A;
    max-width: 400px;
    margin: 8px;
    padding: 16px;
    overflow: hidden;
    color: #fff;
}

.assignment-13-16 .assign-02 .special {
    max-height: 40px;
}

/* Assignment 17 - 21 styles  */

/* Assgin 01 Styles */
.assignment-17-21 .assign-01 .card {
    width: 400px;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
}

.assignment-17-21 .assign-01 .card span {
    font-size: 48px;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 orangered, 2px 2px 0 blue, 3px 3px 0 purple;
}

/* Assgin 02 Styles */
.assignment-17-21 .assign-02 {
    width: 600px;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
}

.assignment-17-21 .assign-02 .one {
    text-transform: uppercase;
    font-size: 32px;
} 

.assignment-17-21 .assign-02 .two {
    text-transform: capitalize;
    font-size: 32px;
} 

.assignment-17-21 .assign-02 .three {
    font-size: 32px;
}

/* Assgin 03 Styles */
.assignment-17-21 .assign-03 div {
    background-color: #eee;
    width: 400px;
    margin: 8px auto;
    padding: 16px;
}

.assignment-17-21 .assign-03 .two,
.assignment-17-21 .assign-03 .three {
    white-space: nowrap;
    overflow: hidden;
}

.assignment-17-21 .assign-03 .three {
    text-overflow: ellipsis;
}

/* Assgin 04 Styles */
.assignment-17-21 .assign-04 {
    background-color: #009688;
    width: 200px;
    margin: 16px auto;
    padding: 32px 16px;
    text-align: center;
    border-bottom: 12px solid #00514A;
    color: #fff;
}

.assignment-17-21 .assign-04 a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

/* Assignment 22 - 26 styles  */

/* Assgin 01 Styles */
.assignment-22-26 .assign-01 div {
    margin: 16px auto;
    border: 3px solid orangered;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
}

.assignment-22-26 .assign-01 div p {
    background-color: #eee;
    margin: 16px 24px;
    border: inherit;
    padding: inherit;
    font-size: 24px;
}

/* Assgin 02 Styles */
.assignment-22-26 .assign-02 {
    width: 400px;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
    text-transform: capitalize;
}

.assignment-22-26 .assign-02 .one {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2.5rem;
}

.assignment-22-26 .assign-02 .two {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.assignment-22-26 .assign-02 .three {
    font-family: 'Jomhuria', cursive;
    font-size: 1.5rem;
}

/* Assignment 27 - 29 styles  */

/* Assgin 01 Styles */
.assignment-27-29 .assign-01 .parent {
    width: 800px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
}

.assignment-27-29 .assign-01 .parent .full-width,
.assignment-27-29 .assign-01 .parent .one-third-width,
.assignment-27-29 .assign-01 .parent .half-width,
.assignment-27-29 .assign-01 .parent .quarter-width {
    margin: 15px 0 15px 15px;
    padding: 32px 16px;
    float: left;
    background-color: #ccc;
}

.assignment-27-29 .assign-01 .parent .full-width {
    width: calc( (100% - 62px) );
}

.assignment-27-29 .assign-01 .parent .one-third-width {
    width: calc( (100% - 156px) / 3);
}

.assignment-27-29 .assign-01 .parent .half-width {
    width: calc( (100% - 109px) / 2);
}

.assignment-27-29 .assign-01 .parent .quarter-width {
    width: calc( (100% - 202px) / 4);
}

.assignment-27-29 .assign-01 .parent .clear {
    clear: both;
}